/* ------------------------------------------------------------------------------------------- */
/* General */

:root {
    font-family: 'Inter', sans-serif;
    
    --dark-blue: #01205b;
    --medium-dark-blue: #023a87;
    --medium-light-blue: #98b1d4;
    --light-blue: #dce5f4;
    --dark-gray: #414851;
    --light-gray: #596678
}

body {
    margin: 0px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding-inline: 25px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    height: 80px;
    z-index: 1000;
    a {
        color: var(--dark-gray);
        text-decoration: none;
        h2 {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 20px;
            color: var(--dark-blue);
            font-size: 28px;
        }
    }
    nav {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        font-size: 17px;
        letter-spacing: 1px;
        font-weight: 550;
        margin-inline: 20px;
    }
    #logo {
        height: 60px;
        margin-right: 10px;
    }
}

nav a:hover {
    color: var(--dark-blue);
}

#logoFoot {
    height: 120px;
}