/* ------------------------------------------------------------------------------------------- */
/* General */

:root {
    font-family: 'Inter', sans-serif;
    
    --dark-blue: #01205b;
    --medium-dark-blue: #023a87;
    --medium-light-blue: #98b1d4;
    --light-blue: #dce5f4;
    --dark-gray: #414851;
    --light-gray: #596678;
}

body {
    margin: 0px;
}

.azul {
    color: var(--dark-blue);
}

/* Header */

header {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding-inline: 25px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    height: 67px;
    z-index: 1000;
    a {
        color: var(--dark-gray);
        text-decoration: none;
        h2 {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 20px;
            color: var(--dark-blue);
            font-size: 25px;
        }
    }
    nav {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        font-size: 15px;
        letter-spacing: 1px;
        font-weight: 550;
        margin-inline: 20px;
    }
    #logo {
        height: 53px;
        margin-right: 10px;
    }
}

nav a:hover {
    color: var(--dark-blue);
}

/*Footer*/

.footer {
  background-color: var(--dark-blue);
  color: white;
  padding-block: 20px;
  padding-inline: 30px;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  margin-bottom: 20px;
}

#col1-footer {
    min-width: 100px;
}

#col23-footer {
    min-width: 230px;
}

.footer-logo {
  width: 180px;
  filter: invert(1) brightness(100) contrast(100);
  margin-right: 40px;
}

.footer-col h3 {
  font-size: 20px;
  margin-bottom: 15px;
  align-items: center;
}

.footer p {
  font-size: 14px;
  line-height: 1.6;
}

.footer a {
  color: var(--medium-light-blue);
  text-decoration: underline;
}

.footer a:hover {
  color: white;
}

.icon {
  width: 35px;
  height: 35px;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.footer-divider {
  border-color: var(--medium-light-blue);
  margin-inline: 0px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px;
}

.footer-bottom span {
  margin-inline: auto;
  text-align: center;
}

#instagram {
    width: 17px;
    filter: invert(1);
}

/* ------------------------------------------------------------------------------------------- */
/* Index */

#portada {
  padding-inline: 20px;
  padding-block: 30px; 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 35px;
  background-color: whitesmoke;
} 

#portada h1 {
    font-size: 60px;
    margin-block: 10px;
    text-align: left;
}

#portada > img {
    width: 50%;
    border-radius: 20px;
}

#portada article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#portada #descripcion {
  text-align: left;
  color: var(--light-gray);
  font-size: 14pt;
  font-weight: 370;
  p {
    line-height: 170%;
  }
}

#portada a {
    text-decoration: none;
    font-weight: 400;
    font-size: 14pt;
    margin-top: 10px;
    padding-block: 10px;
    max-width: 210px;
    border-radius: 10px;
    text-align: center;
    color: var(--light-blue);
    background-color: var(--dark-blue);
}

#target{
  filter: invert(1);
  width: 15px;
  margin-right: 10px;
}

#portada a:hover{
    background-color: #023a87;
}

.about {
  padding-inline: 10%;
  text-align: center;

  h2{
    color: var(--dark-blue);
    font-size: 30pt;
    margin-bottom: 30px;
    margin-top: 70px;
  }

  p {
    font-weight: 370;
    font-size: 14pt;
    color: var(--light-gray);
    line-height: 1.7;
    margin-bottom: 60px;
  }
}

#learn-more{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  padding-inline: 10px;
  margin-bottom: 60px;

  article{
    padding-top: 30px;
    padding-inline: 25px;
    width: 16vw;
    height: 225px;
    border: 2px solid whitesmoke;
    border-radius: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.08);
  }

  div{
    width: 54px;
    height: 54px;
    background-color: rgb(225, 232, 238);
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a{
    text-decoration: none;
  }

  a:hover{
    transform: translateY(-5px);
  }

  p{
    color: var(--light-gray);
    margin-top: 0px;
    font-size: 11pt;
    line-height: 1.4;
  }

  h3{
    color: black;
    margin-bottom: 15px;
    font-size: 13pt;
  }
}

.more-icon{
  width: 27px;
}

/* ------------------------------------------------------------------------------------------- */
/* About */